.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(2.3);
  background-image: url("./stars.png");
  background-origin: cover;
  opacity: 0.25;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 640px) {
  .stars{
    display: none;
  }
}