nav {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    gap: 1rem;
    .abstracts {
      p {
        font-size: 1.3em;
        color: rgba(255, 255, 255, 0.2);
      }
    }
    .logo {
      width: 40px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        filter: grayscale(100%);
      }
    }
  }
}
